/* FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* VARIABLES */
:root{
    --background-body-desktop: #F5F5F5;
    --background-container-pesquisa-desktop: #FFFFFF;
    --background-input-search: #F8F9FA;
    --button-search-color:  #FFE9EE;
    --button-filter-all-color: #F8F9FA;
    --button-filter-bakery-color: #FFF7F4;
    --button-filter-fruits-color: #FFE4EA;
    --button-filter-drinks-color: #F3EEF5;
    --button-add-to-cart-color: #E4F7EF;
}

/* HIDDEN SCROLLBARS*/
::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
  }
* {
    scrollbar-width: none;
} 

body{
    /* overflow-y: hidden; */
    width: 100vw;
    cursor: pointer;
}

/* CONTAINER PESQUISA */

.container-pesquisa{  
    height: 90px;
    margin-top: 34px;
    margin-left: 17px;
    max-width: 300px;
    margin: auto;
}

.header h1{
    font-family: 'Poppins', sans-serif;
}

.form-search{
    display: flex; 
    margin-top: 15.48px;
}

.input-search{
    width: 270px;
    height: 45px;
    background-color: var(--background-input-search);
    border: 1.65434px solid var(--background-input-search);
    box-sizing: border-box;
    border-radius: 33.0868px;
}

.button-search{
    background-color: var(--button-search-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;  
}

/* CONTAINER PRODUCTS */

.container-produtos{
    max-width: 300px;
}

.nav-filters{
    display: flex;
    overflow-y: scroll;
    margin-top: 16.48px;
    margin-left: 12px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;   
}

.button-filter-all{
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--button-filter-all-color);
    border: 1.5px solid #212529;
    box-sizing: border-box;
    border-radius: 30px;
}


.button-filter-bakery{
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--button-filter-bakery-color);
    border: 1.5px solid var(--button-filter-bakery-color);
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 22px;
}

.button-filter-fruits{
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--button-filter-fruits-color);
    border: 1.5px solid var(--button-filter-fruits-color);
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 22px;
}

.button-filter-drinks{
    display: flex;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: var(--button-filter-drinks-color);
    border: 1.5px solid var(--button-filter-drinks-color);
    box-sizing: border-box;
    border-radius: 30px;
    margin-left: 22px;
}

.list-products{
    display: flex;
    overflow-x:scroll;
    height: 400px;
    font-family: 'Poppins', sans-serif;
    margin-top: 27px;
}

.list-products:first-child{
    margin-left: 18px ;
}

.products{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 23px;
    
}

.products-img{
    width: 300px;
}

.products-title{
    font-size: 16px;
    margin-top: 27px;
}

.products-description{
    font-weight: 200;
    font-style: normal;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
    line-height: 16px;
    margin-top: 30px;
    
}

.div-buy{
    display: flex;
    justify-content: space-between;
    margin-top: 27px;
}

.produtcts-price{
    margin-top: 10px ;
    align-self: flex-start;
}
.button-add-cart{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-color: var(--button-add-to-cart-color);
   
   align-self: flex-end;
}

/* CONTAINER CART */
/* .container-carrinho{
    max-width: 300px;
    margin: auto;
} */
.container-carrinho {
    width: 360px;
    height: 400px;
    color: #FFFFFF;
    margin: auto;
    background-color: #F8F9FA;
}

.carrinho {
    width: 100%;
    height: 60px;
    background-color: #FF2253;
    border-radius: 15.0938px 15.0938px 0px 0px;
    display: flex;
}

.carrinho img {
    width: 15px;
    height: 15px;
    padding-left: 20px;
    padding-top: 20px;
}

.carrinho h3 {
    padding-top: 20px;
    padding-left: 20px;
}

.carrinho-product {
    position: relative;
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
}

.photo {
    width: 60px;
    height: 60px;
}

.carrinho-product h2 {
    width: 150px;
}
.carrinho-product-description {
    line-height: 13px;
    margin-left: 7px;
}

.carrinho-product-description h2 button {
    position: absolute;
    right: 15px;
    border: unset;
    background-color: #F8F9FA;
}
.carrinho-product-description p {
    margin-top: 5px;
}

.quantidade {
    background-color: #F8F9FA;
    height: 30px;
    padding-top: 20px;
    display: flex;
}
.quantidade p {
    padding-left: 230px;
    font-weight: bold;
}
.quantidade h2{
    padding-left: 20px;
}

.total {
    display: flex;
    margin-top: 20px;
}
.total h2 {
    padding-left: 20px;
}

.total p {
    padding-left: 250px;
    font-weight: bold;
    font-size: 14px;
}


.carrinho-desenho-caixa {
    border: 2px solid #868E96;
    height: 40px;
    width: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10%;
}
.carrinho-desenho-dentro-da-caixa {
    height: 10px;
    width: 20px;
    margin: auto;
    margin-top: 10px;
    border-bottom: 4px solid #868E96;
    border-radius: 100%;
}
.carrinho-no-product {
    height: 200px;
    text-align: center;
}
.carrinho-no-product h2 {
    color: #868E96;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.carrinho-no-product p {
    color: #868E96;
    width: 150px;
    margin: auto;
}
@media (min-width:480px) {

/* MEDIA QUERYS */
@media screen and (min-width:480px) {
    .total{
        visibility: unset;
    }

    .container-carrinho {
        width: 300px;
        height: 400px;
        color: #FFFFFF;
        margin: auto;
    }
    .quantidade p {
        padding-left: 170px;
    }
    .total p {
        padding-left: 190px;
    }

}

@media screen and (min-width: 768px) {
    .main{
        display: flex;
    }

    .input-search{
        width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    /* .main{
        display: flex;
    } */

    body{
        background-color: var(--background-body-desktop);
    }

    .container-pesquisa{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container-produtos{
        max-width: 975px;
       
    }

    .header{
        margin-top: 30px;
    }

    .input-search{
        width: 311px;
    }

    .list-products{
        flex-flow: row wrap;
    }

    .products{
        width: 300px;
    }

    h2 {
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    }

    p{
    color: #212529;
    font-size: 12px;
    }

    span{
    font-size: 10px;
    color: #868E96;
    }

}

@media screen and (min-width: 1440px) {
    .list-products{
        height: 700px;
    }
}   
